Source: cake
Maintainer: Geoff Ericksson <drgeoffathome@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), help2man

Package: cake
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: cake build tool
 A high-level build tool.
